\body{
    margin:0;
    padding:20px;
    font-family:Arial, sans-serif;
    background:#f4f4f4;
}

.container{

    background:white;

    width:700px;
    max-width:90%;

    margin:auto;

    padding:30px;

    border-radius:15px;

    box-shadow:0 0 15px rgba(0,0,0,0.15);

    text-align:center;
}

.chat-box{

    height:60vh;

    overflow-y:auto;

    border:1px solid #ddd;

    border-radius:10px;

    padding:15px;

    margin-bottom:20px;

    text-align:left;
}

h1{
    margin-bottom:20px;
}

input{

    width:75%;

    padding:12px;

    border:1px solid #ccc;

    border-radius:8px;

    font-size:16px;
}

button{

    padding:12px 18px;

    border:none;

    background:#4285F4;

    color:white;

    border-radius:8px;

    cursor:pointer;
}

button:hover{
    opacity:0.9;
}
.chat-box{

    height:60vh;

    overflow-y:auto;

    border:1px solid #ddd;

    border-radius:10px;

    padding:15px;

    margin-bottom:20px;

    display:flex;

    flex-direction:column;

    gap:10px;
}

.message{

    padding:12px;

    border-radius:15px;

    max-width:75%;

    word-wrap:break-word;
}
.user{

    align-self:flex-start;

    background:#4285F4;

    color:white;
}
.bot{

    align-self:flex-end;

    background:#e5e5e5;

    color:black;
}