body{
    margin:0;
    padding:0;
    font-family:Arial, sans-serif;
    background:#f4f4f4;

    display:flex;
    justify-content:center;
    align-items:center;

    height:100vh;
}

.container{

    background:white;

    width:500px;

    padding:30px;

    border-radius:15px;

    box-shadow:0 0 15px rgba(0,0,0,0.15);

    text-align:center;
}

h1{
    margin-bottom:20px;
}

input{

    width:75%;

    padding:12px;

    border:1px solid #ccc;

    border-radius:8px;

    font-size:16px;
}

button{

    padding:12px 18px;

    border:none;

    background:#4285F4;

    color:white;

    border-radius:8px;

    cursor:pointer;
}

button:hover{
    opacity:0.9;
}